/*************** Homepage css**********************/
@import url('https://fonts.googleapis.com/css2?family=Fira+Sans:wght@400;500;600;700;900&display=swap');

body {
    font-family: 'Fira Sans', sans-serif;
    color: #474747;

}

.wk-fixed-top {
    left: 0;
    position: fixed;
    right: 0;
    top: 0;z-index: 10;
}

header {
    display: block;
}

.wk-header {
    background-color: #fff;
    width: 100%;
}

.wk-logo {
    height: 26px;
    margin-left: 15px;
}

.wk-header-c {
    max-width: 100%;
    padding: 0;
    height: 50px;
    display: -webkit-box;
    display: flex;
}

.main-logo {
    display: flex;
    -webkit-box-align: center;
    align-items: center;
}

.regai-title {
    font-size: 22px;
    font-weight: 600;
    margin-left: 20px;
    line-height: normal;margin-bottom: 0rem!important;
    font-family: "Fira Sans", "Helvetica Neue", Helvetica, Roboto, Arial, sans-serif;
}

/********* page content*************/
.pagecontent {
    min-height: calc(100vh - 35px);
    overflow: hidden;
    padding-top: 87px;
    background: #efeeef; 
}
.txtheadding{font-size: 16px;
    font-weight: 700;}
.txtmargin{padding-top: 20%;padding-bottom: 20%;}
.txtltf{float: left;}

blockquote {
    background: #F2F8FC;
    border-left: 10px solid #66CCFF;
    margin: 1.5em 10px;
    padding: 0.5em 10px;
    quotes: "\201C""\201D""\2018""\2019";
  }
  blockquote:before {
    color: #474747;
    content: open-quote;
    font-size: 3em;
    line-height: 0.1em;
    margin-right: 0.1em;
    vertical-align: -0.4em;
  }
  blockquote:after {
    color: #474747;
    content: close-quote;
    font-size: 3em;
    line-height: 0.3em;
    margin-right: 0.25em;
    vertical-align: -0.4em;margin-top: 2px;
  }
  blockquote p {
    display: inline;
  }

.bread-crumb {
    position: fixed;
    top: 50px;
    width: 100%;
    z-index: 1001;
    color: #fff; 
}
.bname{color:#fff;}
.wk-breadcrumb-bar custombrdbtm {
    background-color: #f6f6f6;
    margin-bottom: 1.69492%;
    position: relative;
    z-index: 1;
}

.bread-crumb .custombrdbtm .custombreadcrumb {
    max-width: 100% !important;
    margin-bottom: 0 !important;
    background: #007AC3 !important;
    color: #fff;
    height: 36px;
}

.wk-breadcrumb-bar .wk-breadcrumb-container {
    margin-left: auto;
    margin-right: auto;
}

/*.pl-5, .px-5{padding-left: 3rem!important;}*/
.m-0 {
    margin: 0 !important;
}

.wk-breadcrumb {
    display: black;

    font-size: 0;
    list-style-type: none;
    margin: 0;
    padding: 0.5rem 1rem !important;
}

.wk-breadcrumb>li {
    padding: 0 4px;
}

.wk-breadcrumb>li:first-child {
    font-weight: 500;
}

.wk-breadcrumb>li {
    color: #fff;
    display: inline-block;
    font-family: "Fira Sans", "Helvetica Neue", Helvetica, "Roboto", Arial, sans-serif;
    font-size: .9375rem;
    font-weight: 300;
}

ol:last-child {
    margin-bottom: 0;
}

/******** page data ***********/
.p-50{padding:10%;}
.pagedata{
        margin: 15px;
    padding: 15px;
    background: #fff;
    border: 1px solid #ccc;}

    .btn-primary {
       
        background: #007AC3;
    border-color: #007AC3;
    border-radius: 0;
    padding: 3px 10px;
        
    }
    .ss{background: #007AC3;
        border-color: #007AC3;
        border-radius: 0;
        padding: 3px 10px;}
    #sbutton{
        position: relative;
        left:-1px;
        background: #007AC3;
        border-color: #007AC3;
        border-radius: 0;
        padding: 3px 10px;
        }  
        
        .tdata{
            max-height: calc(100vh - 315px);
           
            width: 100%;
            overflow-y: auto;
        }

/******* Footer **********/
.footer{    width: 100%;
    z-index: 1102;
    position: relative;
    color: #fff;
}
.mt-0, .my-0 {
    margin-top: 0!important;
}
.wk-footer-copyright{background-color: #007AC3;
    color: #fff; font-size: .82397rem;}
	.wk-footer .wk-footer-copyright .wk-footer-copyright-container{max-width: 75rem;
    margin-left: auto;
    margin-right: auto;
    padding: 0.5rem 1rem;
	padding-left: 0;
    padding-right: 0;}
	.text-center {
    text-align: center!important;
}