@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@400;600&display=swap");
@import url("https:fonts.googleapis.com/css?family=Poppins:200,300,400,500,600,700,900&display=swap");
*
{
    padding: 0;
    margin: 0;
    font-family: 'poppins', 'Josefin Sans', Arial, Helvetica;
    box-sizing: border-box;
}
body{ 
    background-color: black; 
}

/* Home..........................................*/

.class{
    height: 100vh;
    width: 100%;
    background-image: url(../static/background.jpg);
    background-size: cover;
    background-position: center;
    overflow: hidden;
}
nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 45px;
    padding-left: 8%;
    padding-right: 8%;
}
.logo{
    color: white;

    font-size: 35px;
    letter-spacing: 1px;
    cursor: pointer;
}
span{
    color: #940532;
}
nav ul li{
    list-style-type: none;
    margin-left: px;
    display: inline-block;
    padding: 10px 25px;
}
nav ul li a{
    color: white;
    text-decoration: none;
    font-weight: bold;
    text-transform: capitalize;
}
nav ul li a:hover{
    color: #940532;
    transition: .1s;
}
.btn{
    background-color: #940532;
    color: white;
    text-decoration: none;
    border: 2px solid transparent;
    font-weight: bold;
    padding: 10px 25px;
    border-radius: 30px;
    transition: transform .2s;
}
.btn:hover{
    transform: scale(1.2);
}
.content{
    position: absolute;
    top: 50%;
    left: 8%;
    transform: translatey(-50%);
}
.content h2{
    position: relative;
    margin: 20px 0 20px;
    font-size: 65px;
    color: white;
}
.content h4{
    color: rgb(133, 41, 109);
    letter-spacing: 2px;
    font-size: 20px;
}

/* manual.........................................*/

.manual{
    background-color: black;
    width: 100%;
    height: auto;
    padding-bottom: 3%;
    margin: 80px auto;
}
.manual h2{
    padding: 25px 0;
    margin-left: 30px;
    color: white;
    font-size: 40px;
    text-align: center;
}
.manual img{
    display: flex;
    background: #efefef;
    margin: 0 1200px;
    align-items: center;
    border-radius: 6px;
    overflow: hidden;
    width: 20%;
}
.about-text{
    width: 550px;
    color: white;
}
.main{
    width: 1130px;
    max-width: 95%;
    margin: 0 auto;
    display: flex;
    align-items: center;

}
.about-text h3{
    color:white;
    font-size: 45px;
    margin-top: -430px;
    margin-left: 80px;
    text-transform: capitalize;
    margin-bottom: 20px;
}
.about-text p{
    width: 820px;
    color:white;
    text-align: justify;
    margin-left: 80px;
    display: flex;
    line-height: 20px;
    font-size: 20px;
    margin-bottom: 15px;
}  
.btn1{
    background-color: #940532;
    color: white;
    text-decoration: none;
    margin-left: 80px;
    border: 2px solid #3f0115;
    font-weight: bold;
    padding: 13px 30px;
    border-radius: 30px;
    transition: transform .1s;
    
}
.btn1:hover{
    background-color: transparent;
    border: 2px solid #940532;
    cursor: pointer;
}
.btn1 a{
    color: white;
    text-decoration: none;
}

/* video-guide...................................*/

.video-guide{
    background: rgb(10, 9, 9);
    width: 100%;
    height: auto;
    padding-bottom: 3%;
    
}
.video-guide h2{
    padding: 20px 0;
    color: white;
    padding-top: 3%;
    font-size: 40px;
    text-align: center;
}
.img{
    width: 100%;
    height: 80%;
    margin-left: 240px;
    position: relative;
    border: 6px;
    overflow: hidden;
}
.play-btn{
    width: 50px;
    margin-left: -200px;
    margin-top: 230px;
    position: absolute;
    left: 50%;
    top: 50px;
    transform: translate(-50%,-50%);
    cursor: pointer;
}

/* Demo...........................................*/

.demo{
    background-size: cover;
    background-position: center;
    background-color: rgb(0, 0, 0);
    width: 100%;
    height: 600px;
    margin: 80px auto;
    overflow: hidden;
    padding-bottom: 3%;
}
.demo h2{
    padding: 60px 0;
    color: white;
    font-size: 40px;
    text-align: center;
}

/* FaQ..........................................*/

.Faq{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    height: auto;
    background: rgb(18, 17, 17);
}
.accordion{
    width: 1000px; 
    padding-bottom: 10%;
}
.accordion h2{
    padding: 40px;
    color: white;
    font-size: 40px;
    text-align: center;
}
.accordion .contentBx{
    position: relative;
    margin: 25px 20px;
}
.accordion .contentBx .label{
    position: relative;
    padding: 5px;
    background: #660020;
    color: white;
    cursor: pointer;
}
.accordion .contentBx .label::before{
    content: '+';
    position: absolute;
    top: 50%;
    right: 20px;
    transform: translateY(-50%);
    font-size: 0.5cm;
    font-weight: bold;
}
.accordion .contentBx.active .label::before{
    content: '-';
}
.accordion .contentBx .content{
    position: relative;
    background: transparent;
    color: white;
    height: 0;
    overflow: hidden;
    transition: 0s;
}
.accordion .contentBx .content p{
    position: relative;
    background: transparent;;
    width: 870px;
    color: white;
    margin-top: 75px;
}
.accordion .contentBx.active .content{
    height: 150px;
    padding: 10px;
}



/* Footer Section..................................*/

footer{
    position: relative;
    width: 100%;
    height: auto;
    padding-top: 5%;
    padding-bottom: 5%;
    background-image: url(../static/background.jpg);
    background-size: cover;
    background-position: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
footer p:nth-child(1){
    font-size: 30px;
    color: white;
    margin-bottom: 20px;
    Font-weight: bold;
}
footer p:nth-child(2){
    font-size: 17px;
    color: white;
    text-align: center;
    width: 500px;
    line-height: 26px;
}
.social{
    display: flex;
}
.social a{
    width: 45px;
    height: 45px;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #940532;
    border-radius: 50%;
    margin: 22px 10px;
    color: white;
    text-decoration: none;
    font-size: 20px;
}
.social a:hover{
    transform: scale(1.3);
    transition: .3s;
}
.end{
    color: rgb(90, 11, 68);
    position: absolute;
    bottom: 35px;
    font-size: 14px;
    font-weight: bold;
}
