<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width", initial-scale="1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>PredicTor</title>
   
    
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='demo.html') }}">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,400;1,500;1,700&idisplay=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" />
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans&display=swap" rel="stylesheet">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.4/Chart.js"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

</head> 
<body>

    <!--Home-->

    <nav class="navbar navbar-expand-lg navbar-dark style="background-color: #e3f2fd;">
        <a class="navbar-brand" href="#">PredictOr</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav">
                <li class="nav-item active">
                    <a class="nav-link" href="#manual">Manual Guide <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#video">Video Guide</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#demo">Demo</a>
                </li>       
                <li class="nav-item">
                    <a class="nav-link" href="#faq">FAQ</a>
                </li>
            </ul>
        </div>
    </nav>

    <div class="class">
        <div class="content">
            <h4>Hello, A tool for</h4>
            <h2>Handwritten <span>Digit</span> Recognition</h2>
            <p style="color:white;">It an tool to recognize your hand written digit with the help of some advanced algorithm and produces output in no time</p>
            <!--<h2>Handwritten Digit Recognition</h2>-->
        </div>
    </div>
    <hr class="h">

    <!--manual-->

    <div class="manual" id="manual">
        <div class="about-text">
            <h2>Steps to be Followed</h2>
            <p>To recognize the handwritten digits we need to follow certain steps.<p>
            <p>Step 1 :   Click on the demo button </p>
            <p>Step 2 :   Upload your hand written image as a Image</p>
            <p>Step 3 :   Click on predict </p>
            <p>Step 4 :   Wait for sometime, as it is getting trained on the backend </p>
            <p>Step 5 :   Wola !.. You will get the accurate predicted result</p>
            <br>
            <button type="button" class="btn1"><a href="#demo">Let's Predict</a></button>
        </div>
    </div>

    <hr class="h">

    <!--video-guide-->

    <div class="video-guide" id="video">
        <h2>How does it works....</h2>
        <div class="row">
            <div class="img">
                <embed style="width:800px; height:450px;" src="https://www.youtube.com/embed/grHXPlwtNQY"></embed>
            </div>
        </div>
    </div>

    <div class="container" id="demo">
        <div class="row">
            <div class="col-md-6" >
                <form action="{{ url_for('home') }}"  method="POST" enctype="multipart/form-data">
                    <h2 class="po" >PredictOR</h2>
                        <div class="drop-zone">
                            
                            <span class="drop-zone__prompt"><i class="fas fa-cloud-upload-alt"></i>Drop file here <br>or<br> click to upload</span>
                            <input type="file" name="excel_file" class="drop-zone__input">
                            
                        </div>

                        <div class="container" id="predict-button">
                            <div class="row">
                                <button type="submit" class=" btn  btn-danger">Predict</button>
                        
                                <button onClick="window.location.reload();"  class=" btn btn-secondary">Clear</button>
                            </div>
                        </div>
                                   
                </form>
            </div>
            
            <div class="col-md-6">
                <h3 class="po"  >Predicted Output</h3>
                <div class="graph" id="graph">
                    {% if result %}
                       <div class="col-md-6">
                          Predicted label is : <span><b>{{result}}</b></span>
                       
                       </div>
                       <canvas id="myChart" style="width:100%;max-width:700px"></canvas>
                       <script>
                        var xValues = {{keys}};
                        var yValues = {{values}};
                       
                        new Chart("myChart", {
                        type: "bar",
                        data: {
                           labels: xValues,
                           datasets: [{
                           data: yValues
                           }]
                           },
                        options: {
                           legend: {display: false},
                           title: {
                           display: true,
                           text: "Predicted output"
                           }
                           }
                           });
                       </script>
                       
                       {% endif %}
                   </div>
            </div>
        </div>
    </div>

    

    <!--FaQ-->
    
    <div class="Faq" id="faq">
        <div class="accordion" >
            <h2>FAQs</h2>
            <div class="contentBx">
                <div class="label">How to use predict my hand written digit ?</div>
                <div class="content">
                    <p>
                        Upload any hand written digit image, It will predict and produce the accurate output. 
                    </p>
                </div> 
            </div>
    
            <div class="contentBx">
                <div class="label">How many files I can upload at a time ?</div>
                <div class="content">
                    <p>
                        You can upload only one image at a time.
                    </p>    
                </div> 
            </div>
    
            <div class="contentBx">
                <div class="label">Is it beginner friendly ?</div>
                <div class="content">
                    <p>
                        Yes, You can use this tool with this by just following <a href="#manual"> simple steps</a>.
                    </p>
                </div> 
            </div>
        </div>
    </div>
    

    <!--Footer-->

    <footer>
        <p>Handwritten Digit Recognition</p>
        <p>For more, Follow Us on</p>
        <div class="social">
            <a href="#"><i class="fab fa-facebook-f"></i></a>
            <a href="#"><i class="fab fa-instagram"></i></a>
            <a href="#"><i class="fab fa-dribbble"></i></a>
        </div>
        <p class="end">CopyRight By Predictor</p>
    </footer>
   
    <script src="{{ url_for('static', filename='js/app.js') }}"></script>

    <div class="container" id="predict-button">
        <div class="row">
            <div class="col-md-6">Test1</div>
            <div class="col-md-6">Test2</div>
        </div>
    </div>
</body>
</html>