<!DOCTYPE html>
<html>

<head>
  <title>API Demo</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.css') }}">

  <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.min.css') }}}">
  <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
  <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
  <script type="text/javascript">

  </script>

</head>

<body>

  <!-- start header -->
  <div class="wk-fixed-top">
    <header class="wk-header" role="banner">
      <div class="wk-header-c">
        <div class="main-logo">
          <p class="regai-title">MNIST Demo</p>
        </div>
      </div>
    </header>
  </div>
  <!-- end header-->

  <!-- start breadcum -->
  <div class="pagecontent">
    <!-- <div id="overlay">
<img class="loading" src="images/loading.gif">
</div> -->
    <div class="bread-crumb" style="margin-left:0px!important;">
      <div class="wk-breadcrumb-bar custombrdbtm ">
        <div class="wk-breadcrumb-container custombreadcrumb  bgb">
          <div class="row m-0">
            <div>
              <ol class="wk-breadcrumb">
                <li class="cw">
                  <span><a href="#"><span class="bname">Select the image file and submit to see the results</span></a></span>
                </li>

              </ol>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- page data -->
    <div class="pagedata">
      <div>



        <form action="{{ url_for("home")}}", method="POST" enctype="multipart/form-data">
          
         
          <div class="row">
            <div class="col-md-3 text-right mt-1"><label>Select image:</label></div>

            <div class="col-md-3">



              <input type="file" class="form-control-file border" required name="excel_file" placeholder="select file"
                accept=".PNG, .png, .jpeg, .JPG, .jpg">
            </div>
          
			<div class="col-md-2">
              <button type="submit" class="btn btn-primary">Submit </button>
              <button type="reset" class="btn btn-primary">Clear </button>
            </div>
           

          </div>


          <hr>
        </form>
        {% if result %}

        <div class="row">
          <div class="col-md-10  col-offset-md-2">
            <pre>
            Predicted label is : <span><b>{{result}}</b></span>
          </pre>
            </div>
        </div>
        {% endif %}



      </div>
    </div>


    <script src="{{ url_for('static', filename='js/jquery.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/bootstrap.min.js') }}"></script>
</body>

</html>